<?xml version="1.0" encoding="utf-8" ?>
<DataCopyConfig>
	<!--文件来源目录 -->
	<Inputs>
		<Input>F:\Switch2015\DataCopyService\Logs</Input>
	</Inputs>
	<!--失败保存目录 -->
	<Failed>F:\Switch2015\DataCopyService\Failed</Failed>
	<!--文件丢弃目录 -->
	<Discard>F:\Switch2015\DataCopyService\Discard</Discard>
	<!-- 记录文件复制日志的文件夹 -->
	<CopyLog>F:\Switch2015\DataCopyService\CopyLog</CopyLog>
	<Filters>
		<Filter>
			<!--复制规则名称 -->
			<Name>ToAnalysis</Name>
			<!--是否写复制日志，此日志为记录此规则复制了哪些文件 -->
			<WriteCopyLog>true</WriteCopyLog>
			<!--是否平均分配到满足此条件的目标目录 -->
			<IsBalanced>false</IsBalanced>
			<!--文件搜索规则，只处理满足此规则的文件,多种规则用竖线(|)分割 -->
			<SearchPatterns>_WifiTerminalInfoLog_|_WifiOnlineLog_|_WifiActiveLog_</SearchPatterns>
			<!--将文件复制到以下目标目录 -->
			<Dests>
				<!-- OpType:可选，默认为直接复制，Append表示复制完成后文件名中追加 Value：标识追加值 -->
				<Dest>F:\Switch2015\DataCopyService\Target1</Dest>
				<Dest Append=".tar">F:\Switch2015\DataCopyService\Target2</Dest>
			</Dests>
		</Filter>
	</Filters>
</DataCopyConfig>
